<h1>Welcome#index!!!</h1>
<p>Find me in app/views/welcome/index.html.erb</p>


<!-- => #(Document:0x3fd51ddb59d4 {
  name = "document",
  children = [
    #(DTD:0x3fd51de203c4 { name = "html" }),
    #(Element:0x3fd51de1c2b0 {
      name = "html",
      attributes = [ #(Attr:0x3fd51de18250 { name = "class", value = "no-js" })],
      children = [
        #(Element:0x3fd51de05470 {
          name = "head",
          children = [
            #(Text "\n" + "    "),
            #(Element:0x3fd51ddf4030 { name = "title", children = [ #(Text "raleigh apts/housing for rent  - craigslist")] }),
            #(Text "\n" + "\n" + "    "),
            #(Element:0x3fd51ddd110c {
              name = "meta",
              attributes = [
                #(Attr:0x3fd51ddcd5fc { name = "name", value = "description" }),
                #(Attr:0x3fd51ddcd5c0 { name = "content", value = "raleigh apts/housing for rent  - craigslist" })]
              }),
            #(Text "\n" + "    "),
            #(Element:0x3fd51dd95f44 {
              name = "meta",
              attributes = [ -->
